---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/about.png"
>
<p>
		Hello! I’m Hemanth Lepcha, a dedicated Junior Software Engineer based in Thimphu, Bhutan. My journey in technology is driven by a love for problem-solving and innovation, focusing on real-world applications of AI, machine learning, and full-stack development.
	</p>

	<p>
		I have led and contributed to impactful projects like the <strong>Dzongkha Grammar Correction System</strong>, which leverages deep learning to support Bhutan's language preservation, and the <strong>Automatic Number Plate Detection System</strong> at DHI. Winning the <strong>AUSLAN Coding Fest</strong> for Social Inclusion was a significant achievement, underscoring my commitment to using technology for greater societal good.
	</p>

	<p>
		I am committed to continuous learning, holding certifications in <strong>DevOps</strong> and <strong>UI/UX Audit</strong> from Udemy. These qualifications help me deliver reliable and user-centric software solutions. My belief in continuous improvement fuels my desire to stay current with evolving technologies and best practices.
	</p>

	<!-- <p> -->
	<!-- 	Beyond my technical pursuits, I value leadership, teamwork, and adaptability—qualities honed during my time as a group leader on the Dzongkha Grammar project and through my training in the military group <strong>Dessup</strong>, where I was recognized with the title <em>“Maskman”</em>. This experience reflects my resilience and ability to thrive in collaborative environments. -->
	<!-- </p> -->

	<p>
		In my free time, I enjoy playing <strong>football</strong> and <strong>badminton</strong>, which keep me active and engaged. I also love reading <strong>self-help books</strong> and exploring new skills to keep my mind sharp and adaptable. My curiosity and drive to <strong>learn new things</strong> are integral to who I am, both personally and professionally.
	</p>

	<p>
		Feel free to connect with me on <a href="https://www.linkedin.com/in/hemanthlepchha">LinkedIn</a> for insights into my projects, discussions about tech, or simply to share ideas. I’m always open to meaningful conversations and collaborations.
	</p>
</Layout>
